h2 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#footer {
  background-color: black;
  padding-top: 8px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 12px;
}

.heroContainer {
  height: 100%;
}

#heroText {
  position: relative;
  top: 50%;
}

.particles-bg-canvas-self {
  background: #000;
}
