/* section {
  padding: 48px 0;
} */

h1 {
  font-weight: 300;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

.counter {
  font-size: 32px;
}


#hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .container {
  height: 100vh;
  width: 100vw;
}

.flex-dir-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.jc-center {
  justify-content: center;
}
.jc-space-between {
  justify-content: space-between;
}

.btn, .btn-large{
  background-color: #005bbc;
}

.btn:hover, .btn-large:hover{
  background-color: #3c93f1;
}

.teal.lighten-1{
  background-color: #005bbc !important;
}

.particles-bg-canvas-self{
  background: #000;
}